div{
    margin: 5px;
    padding: 8px;
    box-shadow: 8px 8px 5px black;
    border-bottom: 5px solid white;
    width: 30%;
    height: 200px;
    display: inline-table;
}
.div1{
    background-color: aquamarine;
}
.div2{
    background-color: darkgrey;
}
.div3{
    background-color: darkolivegreen;
}